* {
  margin: 0px;
  padding: 0px;
  font-family: 'Courier New', Courier, monospace;
}

p, h1, h2, h3, h4, h5, h6 {
  padding: 10px 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, sans-serif;
}

body {
  background-color: #222222;
  color: white;
  text-align: center;
  padding: 0px 20px;
}

header {
  padding: 1% 0%;
  color: white;
  text-align: center;
}

#topNav {
  background-color: #333333;
}

#topNavListContainer {
  display: inline-block;
  text-align: left;
}

#topNavList li {
  display: inline;
  list-style-type: none;
}

#topNavList li a {
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  text-align: center;
  color: white;
  transition-property: background-color;
  transition-duration: 0.4s;
  font-family: Helvetica, sans-serif;
}

#topNavList li a:hover {
  background-color: #555555;
}

.topNavActive {
  background-color: #444444;
}

#main {
  text-align: left;
  margin-top: 10px;
}

.horizontal {
  float: left;
}

#sideNavContainer {
  width: 15%;
}

#pageContentContainer {
  width: 85%;
}

#sideNav {
  background-color: #444;
  color: white;
  text-align: center;
}

#sideNav h1 {
  font-size: 20px;
}

#sideNav li {
  list-style-type: none;
  padding: 10px 0px;
}

#sideNav li a {
  font-family: Helvetica, sans-serif;
  text-decoration: none;
  color: white;
}

#sideNav li a:hover {
  color: #bbb;
}

#pageContent {
  padding: 0px 20px;
}

#pageContent h2 {
  font-size: 28px;
}

#pageContent p {
  font-size: 16px;
  line-height: 22px;
}

#pageContent ul, ol {
  margin-left: 30px;
}

#pageContent li {
  list-style-position: inside;
}

#pageContent section section {
  margin-left: 20px;
}

hr {
  margin: 20px 0px;
}