*,
*:before,
*:after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  line-height: 1.5;
}

:root {
  --background-color: rgb(70, 70, 70);
  --main-content-color: white;
  --link-color: rgb(93, 0, 255);
}

html {
  background-color: var(--background-color);
}

main {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 5%;
  background-color: var(--main-content-color);
}

section {
  padding-bottom: 2rem;
}

section:first-of-type {
  padding-top: 2rem;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

p:last-child {
  margin-bottom: 0;
}

h2 {
  margin-bottom: 0.5em;
}

.relevantExperience ul {
  list-style-position: outside;
  padding-left: 1.5rem;
}

.relevantExperience ul li {
  margin-top: 0.5rem;
}

.relevantExperience .experience:not(:last-of-type) {
  padding-bottom: 1rem;
}

.relevantExperience .experience:last-of-type {
  padding-bottom: 0;
}

.experienceTime {
  font-style: italic;
}

ul.projectTools {
  margin-top: 0.5rem;
  list-style-type: none;
  display: flex;
  gap: 0.5em;
  align-items: center;
  flex-wrap: wrap;
}

ul.projectTools li {
  border: 1px solid black;
  padding: 0 0.5em;
  border-radius: 5px;
  background-color: #ddd;
}

.projectTitleAndLinks {
  display: flex;
}

.projectLinks {
  margin: 0 0 0 auto;
}

.projectLinks a {
  display: inline-block;
  padding-inline: 0.25em;
  height: 100%;
}

.featuredProject {
  margin-bottom: 1rem;
}

.github-icon,
.linkedIn-icon,
.see-live-icon {
  display: inline-block;
  height: 1.5em;
}

.linkButtons {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  flex-shrink: 1;
  justify-content: center;
}

.linkButtons button {
  border-radius: 5px;
  padding: 0.5rem;
  background-color: #ddd;
  transition: background-color 0.25s ease-in-out;
  font-size: 0.9rem;
  cursor: pointer;
}

.linkButtons button:hover {
  background-color: #eee;
}

@media (max-width: 500px) {
  html {
    font-size: 0.9rem;
  }
}
